#!/bin/bash

export DISCORD_HOOK_URL="{{ DISCORD_HOOK_URL }}"
export DJANGO_SECRET_KEY="{{ DJANGO_SECRET_KEY }}"
export PSQL_DATA_PATH=/var/lib/bidsoup/data/prod
export PG_PASS="{{ PG_PASS }}"
export SENDGRID_API_KEY="{{ SENDGRID_API_KEY }}"
export SERV_PORT=8000
